<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882186087344-rmgq94d91jcvj760thvsp5okej5srb7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882186087344-rmgq94d91jcvj760thvsp5okej5srb7s</string>
	<key>API_KEY</key>
	<string>AIzaSyC3nW1fwwAeOfsfhogHFtSKpPpNL14xTw0</string>
	<key>GCM_SENDER_ID</key>
	<string>882186087344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitly</string>
	<key>PROJECT_ID</key>
	<string>fitly-ab296</string>
	<key>STORAGE_BUCKET</key>
	<string>fitly-ab296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882186087344:ios:3f6a2f596e0a24f29f8475</string>
</dict>
</plist>